<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<parameter name="mybrowser" value="edge"></parameter>
  <test  name="Test1">
    <classes>
      <class name="DataDriven1.Parallel"/>
    </classes>
  </test> <!-- Test -->
  <parameter name="mybrowser" value="chrome"></parameter>
  <test  name="Test2">
    <classes>
      <class name="DataDriven1.Parallel"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
